.conteneur {
    height: auto;
    margin: 0;
    padding: 0;
    background: rgb(229, 225, 225);
}

.bloc {
    background: rgb(229, 225, 225);
    border-radius: 50px 50px 0px 0px;
    margin-top: 0px;
    padding-top: 0%;
    position: relative;
    top: -60px;
    height: auto;
    width: 100%;
    margin-bottom: auto;
    
}


.bloc-footer {
    background-color: rgb(76, 70, 70);
    padding-top: 10px;
    height: auto;
    margin-top: 0;
    padding-left: 20px;
    margin: auto;
    padding-bottom: 40px;

    @include tablet {
        padding-left: $padding-left;

    }

    @include desktop {
        padding-left: $padding-left;

    }

    &-elements {
        line-height: 20px;

        @include tablet {
            display: flex;
            flex-direction: row;

        }

        @include desktop {
            display: flex;
            flex-direction: row;

        }
    }

    h4 {
        color: white;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 15px;
        font-family: $font_sh;

        @include tablet {
            text-align: start;
            margin-left: 20px;
        }

        @include desktop {
            text-align: start;
            margin-left: 20px;
        }
    }
}

.proposition {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    font-family: $font_ro;

    @include tablet {
        margin-top: 15px;
    }

    @include desktop {
        margin-top: 15px;
    }

    .fa-utensils {
        margin-right: 10px;

    }

    &-titre {
        margin-top: 0px;
    }

    @include tablet {
        width: 25%;
        margin-left: 20px;
    }

    @include desktop {
        width: 25%;
        margin-left: 20px;
    }
}

.partenaire {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    font-family: $font_ro;
    @include tablet {
        width: 25%;
        margin-top: 15px;
    }

    @include desktop {
        width: 25%;
        margin-top: 15px;
    }

    &-titre {
        margin-top: 0;
        margin-left: 10px;


    }

}

.mentions-legales {
    text-decoration: none;
    color: white;
    
    p{
        margin-top: 10px;
        margin-bottom: 20px;
        font-family: $font_ro;
    }
    
    @include tablet {
        width: 25%;
        margin-top: 5px;
       
    }

    @include desktop {
        width: 25%;
        margin-top: 5px;
       

    }

}

.contact {
    text-decoration: none;
    color: white;
    p{
        margin-top: 15px;
        font-family: $font_ro;
    }

    @include tablet {
        width: 25%;

    }

    @include desktop {
        width: 25%;
    }

}