

        .logo {
                font-family: $font_sh;
                font-size: 30px;
                display: flex;
                justify-content: center;
                margin-top: auto;
                margin-bottom: 5px;
                box-shadow: 0.5rem 0.5rem 1rem gainsboro;
               height: 50px;
               padding-top: 15px;
                }
                
       
        
        

