.barnav {
    
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #eae4e4;
    height: 50px;
    align-items: center;
    .texte-barnav{
        font-family:Roboto ;
        font-size: 15px;
        margin-left: 20px;
    }
    
}

