html,
body {
    margin: 0;
    padding: 0;
}

.bloc-reservation {
    font-family: $font_ro ;
    background-color: hsl(0, 13%, 95%);
    margin-top: 0px;
    height: 270px;

    &_titre {
        margin-top: 0px;
        padding-top: 25px;
        text-align: center;
        font-size: 22px;

    }

    &_sous_titre {
        text-align: center;
        margin-bottom: 30px;
        font-size: 18px;

    }


}



.bloc-fonctionnement {
    margin: 0;
    padding: 0;
    width: 100%;

    &_titre {

        margin-left: 10%;

        @include tablet {
            margin-left: 20px;
        }

        @include desktop {
            margin-left: 20px;
        }

    }



}






.bloc-restaurants {
    margin-top: 50px;
    background: #eae4e4;
    height: auto;
    padding-top: 20px;
    display: block;
    justify-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
        width: 100%;
        margin-right: 20px;
        padding-right: 0;
    }

    @include desktop {
        width: 100%;
        margin-right: 20px;
        padding-right: 0;

    }


}

.restaurant-titre {
    margin-left: 30px;
}

.bloc-restaurants-cartes {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    @include desktop {
        display: flex;
        flex-wrap: wrap;
    }
}

.bloc-restaurants-carte {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 20px 20px 20px 20px;
    width: 92%;
    height: 260px;
    text-decoration: none;
    color: black;
    line-height: 15px;
    position: relative;
    box-shadow: 0.5rem 0.5rem 1rem gainsboro;
    margin-bottom: 30px;
    margin-left: 20px;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        width: 46%;
        height: 270px;
        padding: 0;
    }

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        width: 47%;
        height: 270px;
        padding: 0;
    }

    &-titre {
        margin-left: 10px;
        padding-top: 20px;
        margin-top: 0px;

    }

    &-sous-titre {
        margin-left: 10px;
        margin-top: 0px;
    }

    & img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        height: 180px;
    }

    .btn-nouveau {

        background-color: $color_tertiaire;
        color: green;
        width: 70px;
        height: 25px;
        padding: 7px 4px 0px 15px;
        border-radius: 3px;
        position: absolute;
        margin-left: 72%;
        margin-top: 10px;

        @include tablet {
            margin-left: 72%;
        }

        @include desktop {
            margin-left: 82%;
        }


    }

    }
.coeur{
    @include coeur
}