@keyframes check{
    0% {
              
        transform: rotate(-180deg);

}
100% {

        transform: rotate(0);

}
}
@keyframes btn-confirmation{
    0% {
        transform: translateX(0px);
        
    }
    100% {
        transform: translateX(-82px);
       
    }
}

@keyframes element-btn-confirmation{
  0% {
    opacity: 0;
    transform: translateY(50px);

  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes btn-confirmation-retour{
    0% {
        transform: translateX(-82px);
      
    }
    100% {
        transform: translateX(0);
        
    }
}

@keyframes hideLoader
{
  100%
  {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes spin
{
  100%
  {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}