@mixin bloc-fonctionnement_element{
             
    display: flex;
    justify-content:space-evenly;
    font-weight: bold;
     background-color: #F2F2F2;
     border-radius: 20px 20px 20px 20px;
    align-items: center;
    width: 400px;
    font-family: $font_ro ;
     height: 70px;
     box-shadow: 0.5rem 0.5rem 1rem gainsboro;
    margin-bottom: 30px;
}

/*@mixin phone  { 
  @media (min-width: 375px) and (max-width : 767px)
   { @content ; } */

@mixin tablet { 
  @media (min-width: 768px) and (max-width : 992px) { @content ; } 
}


@mixin desktop { 
  @media (min-width: 992px) { @content ; } 
}



