$font_ro: "Roboto";
$font_sh: "shrikhand";
$color_primaire: #9356DC;
$color_secondaire: #FF79DA;
$color_tertiaire:#99E2D0;
$color_degrade: linear-gradient(175deg, $color_secondaire  15%, $color_primaire 100%);
/*$breakpoints: (phone: 375px, tablet: 768px, desktop: 992px)!default;*/